= [:notice, :error, :alert].each do |level|
  = unless flash[level].blank?
    %div{class: "alert.alert-#{flash_class(level)}"}
      .a{class: "close", href: "#"} x
      = content_tag :p, flash[level]

= if @current_user
  = link_to "Log Out", "/log_out"
  
%h1 Welcome to DanielBearl.com!
