.row.main-content
  .offset1.span6.zone-content
    - if current_user
      %div
        = link_to 'New Post', new_post_path, class: "button-link"
    %ul.blog-posts
      - posts.each do |post|
        - @position = ''
        - if posts.first == post then @position = "first" end
        - if posts.last == post then @position = "last" end
        %li{ class: @position }
          %article{ class: "blog-post" }
            .published
              = post.created_at
            %h1= post.title
            %div
              :markdown
                #{post.lead}
            - if post.lead.length < post.body.length
              = link_to "Read more...", post
            - unless post.tags.blank?
              %p.tags
                %span Tags:
                - post.tags_list.split(", ").each do |txt|
                  = link_to txt, posts_path(tags: txt)
            - if current_user
              = link_to 'Edit', edit_post_path(post), class: "button-link"
              = link_to 'Delete', post, method: :delete, data: { confirm: "Are you sure?" }, class: "button-link"
      = will_paginate posts

  %aside.aside-column.offset1.span3#aside-right
    - if current_user
      %div
        = link_to 'New Post', new_post_path, class: "button-link"
    %article.widget-tag-cloud.widget
      %header
        %h1 Tag Cloud
        %ul.tagcloud
          - tag_cloud(Post.tag_cloud(posts), %w{tagCloud-1 tagCloud-2 tagCloud-3 tagCloud-4 tagCloud-5}) do |name, css_class|
            %li{ class: "tagCloud-tag #{css_class}" }
              = link_to name, posts_path(tags: name)
