!!! html
%html
  %head
    %title Danielbearl
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .container
      - [:notice, :error, :alert].each do |level|
        - unless flash[level].blank?
          %div{class: "alert alert-#{flash_class(level)}"}
            %a{ href: "#", class: "close", data: { dismiss: "alert" } } &times;
            = flash[level]
      - if current_user
        = link_to "Log Out", "/log_out"

      = yield
