!!! html
%html
  %head
    %title Danielbearl
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{href: 'http://fonts.googleapis.com/css?family=Poiret+One|PT+Serif|Open+Sans:400,300', rel: 'stylesheet', type: 'text/css'}

  %body
    .container
      .masthead.clearfix
        = link_to image_tag("DanielBearlLogo.png", id: "logo", alt: "danielbearl.com"), :root
        %ul.nav.ww-nav.pull-right.hidden-phone#nav
          %li
            = active_link_to 'Home', '/home'
          - pages.each do |page|
            %li
              = active_link_to page.name, slug_path(page.slug)
          %li
            = active_link_to 'Blog', '/blog'
      %hr

      - [:notice, :error, :alert].each do |level|
        - unless flash[level].blank?
          %div{class: "alert alert-#{flash_class(level)}"}
            %a{ href: "#", class: "close", data: { dismiss: "alert" } } &times;
            = flash[level]

      - if current_user
        = link_to "Log Out", "/log_out"

      = yield

      %hr
      .row.triple-row
        .span4.triple#triple-first
        .span4.triple#triple-second
          .zone.zone-triple-second
            %article.widget-triple-third.widget-html-widget.widget
              %header 
                %h1 Connect
              = link_to raw('<i class="smicon-twitter"></i>'), "http://www.twitter.com/danbearl"
              = link_to raw('<i class="smicon-google"></i>'), "https://plus.google.com/116426476281213679784/"
              = link_to raw('<i class="smicon-github"></i>'), "http://www.github.com/danbearl"
      %hr
      .row
        .copyright.span12
          &copy;2013 Daniel Bearl
